header.header
  .container
    .header__row
      a.header__logo(href="#")
        img(src="img/main/logo.png" alr="")
      .header-nav
        a.header-nav__link.header-nav__link_active(href="#") Home
        a.header-nav__link(href="#") Pages
        a.header-nav__link(href="#") Features
        a.header-nav__link(href="#") Extensions
        a.header-nav__link(href="#") Tutorials
        a.header-nav__link(href="#") Contact us
      .header-soc
        a.header-soc__link(href="#")
          span.icon-facebook
        a.header-soc__link(href="#")
          span.icon-twitter
        a.header-soc__link(href="#")
          span.icon-skype
        a.header-soc__link(href="#")
          span.icon-linkedin2
