@import "utils/fonts";
@import "common/global";
@import "common/header";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
  background: url("../img/main/bg.jpg") no-repeat center / cover;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 152px;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
  }

  &__subtitle {
    margin-top: 20px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 20px;
    text-transform: uppercase;
    color: #11749e;
  }

  &-down {
    position: relative;
    top: 15vh;

    &__text {
      margin-bottom: 15px;
      font-size: 13px;
      color: #fff;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      border: 1px solid #fff;
      border-radius: 50%;
      width: 66px;
      height: 66px;
      text-decoration: none;
    }
  }
}

.about {
  padding-top: 170px;
  padding-bottom: 130px;
  background: $blue;

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 140px;
  }

  &-block {
    max-width: 23%;
    text-align: center;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      border-radius: 50%;
      width: 130px;
      height: 130px;
      background-color: rgba(255, 255, 255, 0.1);

      img {
        width: 36px;
      }

      span {
        font-size: 28px;
        color: #fff;
      }
    }

    &__title {
      margin-top: 18px;
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 18px;
      color: #fff;
    }
  }
}

.news {
  overflow: hidden;

  &__container {
    margin: 0 auto;
    padding: 0 20px;
    width: 1220px;
  }

  &__content {
    flex: 0 0 100%;
  }

  &__img {
    position: relative;
    flex: 0 0 50%;
    transform: translate(-100%, 0);

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    padding: 80px 0;
    width: 50%;
  }

  &__date {
    font-weight: 400;
    font-size: 13px;

    span {
      display: inline-block;
      margin: 0 12px;
    }
  }

  &__title {
    margin-top: 15px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__block {
    &_1 {
      display: flex;
      color: #fff;
      background: $black;

      .news__body {
        padding-right: 85px;
      }
    }

    &_2 {
      display: flex;
      color: $black;
      background: #f3f3f3;

      .news__content {
        transform: translate(-50%, 0);
      }

      .news__text {
        color: $black;
      }

      .news__body {
        margin-left: auto;
        padding-left: 85px;
        width: 50%;
      }

      .news__img {
        transform: translate(0, 0);
      }
    }
  }
}

.blog {
  padding-top: 160px;
  padding-bottom: 110px;

  &__title {
    color: $black;

    &::before {
      color: #d7d7d7;
      opacity: 1;
    }
  }

  &__text {
    margin-top: 110px;
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: $black;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-block {
    width: 275px;
    text-align: center;

    &__title {
      margin-top: 45px;
      margin-bottom: 18px;
      font-weight: 500;
      font-size: 18px;
      text-transform: uppercase;
      color: $blue;
    }

    &__text {
      color: $black;
    }
  }
}

.quick {
  padding-top: 110px;
  padding-bottom: 150px;
  background: $blue;

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-block {
    display: flex;
    align-items: center;
    width: 47%;

    &__img {
      margin-right: 30px;
      width: 74px;
    }
  }
}

.features {
  padding: 100px 0;
  background: url("../img/features/bg.jpg") no-repeat center / cover;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    width: 470px;
  }

  &__title {
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
  }

  &__text {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  &-list {
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      padding: 0 20px;
      width: 90%;
      height: 40px;
      font-weight: 500;
      font-size: 15px;
      text-transform: uppercase;
      color: #fff;
      background: $blue;

      &:nth-child(1) {
        width: 75%;
      }

      &:nth-child(2) {
        width: 83%;
      }
    }
  }
}

.team {
  padding: 130px 0;

  &__title {
    color: $black;

    &::before {
      color: #d7d7d7;
      opacity: 1;
    }
  }

  &__text {
    margin-top: 140px;
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: $black;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &-block {
    position: relative;
    width: 270px;

    &__content {
      position: absolute;
      left: 50%;
      bottom: -42px;
      padding: 25px 10px;
      width: 80%;
      text-align: center;
      background: #fff;
      transform: translateX(-50%);
    }

    &__name {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      color: $blue;
    }

    &__text {
      font-weight: 500;
      font-size: 15px;
      color: #000;
    }
  }
}

@import "common/footer";
