*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Gotham";
  line-height: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    opacity: 0.85;
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1220px;
}

.title {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 37px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  &::before {
    content: attr(data-letter);
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
    font-size: 200px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.2;
    transform: translateX(-50%);
  }
}
