*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Gotham";
  line-height: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    opacity: 0.85;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.title {
  font-weight: 500;
  font-size: 37px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
