extends common/layout

block content
  main.main
    include common/header.pug
    .container
      .main__row
        h1.main__title Creatives
        h3.main__subtitle Power by PSDfreebies.com
        .main-down
          p.main-down__text Scroll Down
          a.main-down__link.anchor(href="#about")
            img(src="img/main/arrow.png" alt="arrow")
  section#about.about
    .container
      h2.title.about__title(data-letter="w") We are an awesome agency
      .about__row
        .about-block
          .about-block__icon
            img(src="img/write-icon.png" alt="Feature one")
          h6.about-block__title Feature one
          p.about-block__text.text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit non mi porta gravida at eget metus.
        .about-block
          .about-block__icon
            img(src="img/write-icon.png" alt="Feature two")
          h6.about-block__title Feature two
          p.about-block__text.text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit non mi porta gravida at eget metus.
        .about-block
          .about-block__icon
            span.icon-search
          h6.about-block__title Feature three
          p.about-block__text.text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit non mi porta gravida at eget metus.
        .about-block
          .about-block__icon
            span.icon-bubble2
          h6.about-block__title Feature four
          p.about-block__text.text Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit non mi porta gravida at eget metus.
  .news
    .news__block_1
      .news__content
        .news__container
          .news__body
            .news__date
              p
              | Jan 4, 2016
              span |
              | In Culture
            h5.news__title Akita inu dog
            p.news__text.text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            p.news__text Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur
      .news__img
        img(src="img/news/img-1.jpg" alt="")
    .news__block_2
      .news__img
        img(src="img/news/img-2.jpg" alt="")
      .news__content
        .news__container
          .news__body
            .news__date
              p
              | Jan 4, 2016
              span |
              | In Culture
            h5.news__title Akita inu dog
            p.news__text.text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            p.news__text Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur
  section.blog
    .container
      h2.title.blog__title(data-letter="b") Let's blog
      p.blog__text We love clean design and advanced digital solutions.
      .blog__row
        .blog-block
          img.blog-block__img(src="img/blog/img-1.jpg" alt="Fresh Summer Campaign")
          h6.blog-block__title Fresh Summer Campaign
          p.blog-block__text.text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue.
        .blog-block
          img.blog-block__img(src="img/blog/img-2.jpg" alt="Fresh Summer Campaign")
          h6.blog-block__title Fresh Summer Campaign
          p.blog-block__text.text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue.
        .blog-block
          img.blog-block__img(src="img/blog/img-3.jpg" alt="Fresh Summer Campaign")
          h6.blog-block__title Fresh Summer Campaign
          p.blog-block__text.text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue.
        .blog-block
          img.blog-block__img(src="img/blog/img-1.jpg" alt="Fresh Summer Campaign")
          h6.blog-block__title Fresh Summer Campaign
          p.blog-block__text.text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue.
  .quick
    .container
      .quick__row
        .quick-block
          img.quick-block__img(src="img/write-icon.png" alt="img")
          p.quick-block__text.text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        .quick-block
          img.quick-block__img(src="img/write-icon.png" alt="img")
          p.quick-block__text.text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
  section.features
    .container
      .features__row
        .features__content
          h5.features__title Akita Inu Dog
          p.features__text.text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          ul.features-list
            li.features-list__item Fully Responsive Design
            li.features-list__item High Quality Code
            li.features-list__item Different Headers &amp; Layout
        img.features__img(src="img/features/phone.png" alt="phone")
  section.team
    .container
      h2.title.team__title(data-letter="b") Our Team
      p.team__text  sales long tail influencer pitch release niche market.
      .team__row
        .team-block
          img.team-block__img(src="img/team/img-1.jpg" alt="John Snow")
          .team-block__content
            h6.team-block__name John Snow
            p.team-block__prof CEO
        .team-block
          img.team-block__img(src="img/team/img-2.jpg" alt="Lady Sansa")
          .team-block__content
            h6.team-block__name Lady Sansa
            p.team-block__prof WebDesigner
        .team-block
          img.team-block__img(src="img/team/img-3.jpg" alt="David Smith")
          .team-block__content
            h6.team-block__name David Smith
            p.team-block__prof Photographer
        .team-block
          img.team-block__img(src="img/team/img-4.jpg" alt="LADY SANSA")
          .team-block__content
            h6.team-block__name LADY SANSA
            p.team-block__prof Photographer
